.expense:nth-child(odd) {
  background: $black-10;
}

.expense-modal {
  background: $white-90;
  width: 100vw;
  height: 100vh;

  input {
    background: transparent;
    border: none;
    border-bottom: 3px solid $black-90;
    outline: none;
  }

  .labels {
    color: $black-60;
  }
}

.expense {
  &:hover {
    background: lighten(gold, 40%);
  }
}

.delete-button {
  width: 8em;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

#income {
  outline: none;
  border: 0;
  border-bottom: 1px solid transparent;
  color: gray;

  &:focus {
    border-bottom: 1px solid black;
    color: black;
  }
}